<header class="header">

  <div class="header-hijo">

    <i class='bx bx-menu-alt-left' (click)="abrirHeader()"></i>
    <img class="logo" src="assets/lol-logo1.png" alt="Logo">

    <nav id="nav-header" class="nav-header">

      <a class="nav-opciones" href=""> News </a>
      <a class="nav-opciones" href=""> About </a>
      <a class="nav-opciones" href=""> Support center </a>

    </nav>

  </div>

</header>

<div class="contenedor-principal">

  <div class="sector-1">

    <div class="contenedor-img">
      <img class="img1" src="assets/aatrox1.jpg" alt="champ">
    </div>

    <div class="contenedor-texto-flotante">

      <span class="mini-texto-flotante"> Hello, I am dev </span>
      <h4 class="titulo-flotante"> Riot games </h4>
      <span class="span-texto-flotante">
        THE GAME OF THE YEAR, Year 2010
      </span>
      <button class="buttons"> Download now! </button>

    </div>

  </div>

  <div class="background"></div>

  <div class="sector-2">

    <div class="sector-2-1">

      <div class="sector-2-1-cuadrado">

        <i class='bx bx-question-mark'></i>
        <h4> Questions </h4>
        <span> TEXTO </span>
        <a href=""> Know More <i class='bx bx-right-arrow-alt'></i></a>

      </div>
      <div class="sector-2-1-cuadrado">

        <i class='bx bx-support'></i>
        <h4> Support </h4>
        <span> TEXTO </span>
        <a href=""> Know More <i class='bx bx-right-arrow-alt'></i></a>

      </div>
      <div class="sector-2-1-cuadrado">

        <i class='bx bxs-info-square'></i>
        <h4> About </h4>
        <span> TEXTO </span>
        <a href=""> Know More <i class='bx bx-right-arrow-alt'></i></a>

      </div>

    </div>

    <div class="sector-2-2">

      <div class="sector-2-2-cuadrado">
        <span> 12 </span>
        <span> YEARS OF EXPERIENCE </span>
      </div>

      <div class="sector-2-3">

        <div class="sector-2-3-cuadrado">
          <span> 4 </span>
          <span> Game modes </span>
        </div>
        <div class="sector-2-3-cuadrado">
          <span> 140+ </span>
          <span> Characters to use </span>
        </div>
        <div class="sector-2-3-cuadrado">
          <span> 153,109,020 </span>
          <span> Players </span>
        </div>
        <div class="sector-2-3-cuadrado">
          <span> 2+ </span>
          <span> Cosmetics for character </span>
        </div>

      </div>
    </div>

  </div>

  <div class="sector-3">

    <div class="contenedor-titulo3">
      <div class="texto-titulo3">
        <h3> LATEST CONTENT </h3>
        <span> Keep yourself informed </span>
      </div>
      <button class="buttons"> View all </button>
    </div>

    <div class="contenedor-imagenes">

      <div class="cuadrado">
        <img class="img-cuadrado" src="assets/jhin1.jpg" alt="3-img1">
        <div class="fuera-img-cuadrado">
          <span> MYTHIC VARIANTS: DARK COSMIC ERASURE JHIN ARRIVES </span>
          <a href=""> KNOW MORE <i class='bx bx-right-arrow-alt'></i></a>
        </div>
      </div>

      <div class="cuadrado">
        <img class="img-cuadrado" src="assets/soraka1.jpg" alt="3-img2">
        <div class="fuera-img-cuadrado">
          <span> QUICK GAMEPLAY THOUGHTS: 13.16 </span>
          <a href=""> KNOW MORE <i class='bx bx-right-arrow-alt'></i></a>
        </div>
      </div>

      <div class="cuadrado">
        <img class="img-cuadrado" src="assets/veigar1.jpg" alt="3-img3">
        <div class="fuera-img-cuadrado">
          <span> Final Boss Veigar Is Freed! </span>
          <a href=""> KNOW MORE <i class='bx bx-right-arrow-alt'></i></a>
        </div>
      </div>
      <div class="cuadrado">
        <img class="img-cuadrado" src="assets/yone1.jpg" alt="3-img4">
        <div class="fuera-img-cuadrado">
          <span> Yone Figure </span>
          <a href=""> KNOW MORE <i class='bx bx-right-arrow-alt'></i></a>
        </div>
      </div>

    </div>

  </div>

  <div class="sector-4">

    <div class="contenedor-4">

      <div class="texto-titulo4">

        <h3> TAKE LEAGUE WITH YOU </h3>
        <span> Download the League app to stay connected to friends and the latest game and esports news. </span>

      </div>

      <div class="contenedor-btns">
        <button class="buttons"> Download on the App Store <i class='bx bxl-apple' ></i> </button>
        <button class="buttons"> Get it on Google Play <i class='bx bxl-play-store'></i> </button>
      </div>
    
    </div>

    <div class="links">

      <a href=""> Home </a>
      <a href=""> About </a>
      <a href=""> News</a>
      <a href=""> Contact </a>

    </div>

  </div>

</div>

<footer class="footer">
  <div class="footer-hijo">

    <img class="logo" src="assets/lol-logo1.png" alt="Logo">

    <div class="redes-sociales">

      <i class='bx bxl-facebook-square'></i>
      <i class='bx bxl-twitter'></i>
      <i class='bx bxl-reddit'></i>

    </div>

    <div class="who">
      <span> Made by </span>
      <span> Riot Games </span>
    </div>

  </div>
</footer>